body {
  background: url(../images/gplaypattern.png);
  padding-bottom: 50px;
}

.opaque {
  background: rgba(243, 243, 243, 1);
  /*background: rgba(51, 51, 51, 0.19);*/
  border: none;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

div.panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.package.panel {
  box-shadow: 0px 5px 10px #888;
  background-color: #f9f9f9;
}

.center-align {
  text-align: center;
}

#logo {
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
}

#logo a {
  color: #000;
}

#masheryLogo {
  height: 75px;
}

#tagline {
  text-align: center;
}

.button {
  display: block;
  margin-bottom: 5px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eventbrite-button {
  background-color: rgb(206, 102, 53);
}

.eventbrite-button:hover {
	background-color: rgb(170, 82, 23);
}

.sponsors img{
  margin: 10px 25px;
  vertical-align: middle;
}

.hosted {
	text-align: center;
}

#maps {
  width:15%;
  height:15%;
}

.nav-bar {
	margin-top: 0px;
}

.nav-bar > li {
  border: none !important;
  border-right: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  background-color: #323131;
}
.nav_color_container {
  text-align: center;
}

.six2, .row .six2 { width: 63.7%; }

.nav_color ul li a:hover {
  background-color: #D41D29;
}

.viewer {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}

.thumbnails {
	padding: 3px;
	text-align: justify;
}

.thumbnails img {
	margin: 2px;
	box-shadow: 2px 2px 1px #888;
}
