body {
  background: url(../images/gplaypattern.png);
  padding-bottom: 50px;
}

.opaque {
  background: rgba(243, 243, 243, 1);
  /*background: rgba(51, 51, 51, 0.19);*/
  border: none;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

div.panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.package.panel {
  box-shadow: 0px 5px 10px #888;
  background-color: #f9f9f9;
}

.center-align {
  text-align: center;
}

#logo {
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
}

#logo a {
  color: #000;
}

#masheryLogo {
  height: 75px;
}

#tagline {
  text-align: center;
}

.button {
  display: block;
  margin-bottom: 5px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.sponsors img{
  margin: 10px 30px;
  vertical-align: middle;
}

#maps{
  width:15%;
  height:15%;
}

.nav-bar {
	margin-top: 0px;
}

.nav_color ul li a:hover{
  background-color: #D41D29;
}

.nav_color ul li{
  background-color: #323131;
}
